/*-----------------------------------------------Content For All Pages------------------------------------------*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    border: 4px dotted burlywood;
    display: flex;
    flex-direction: column;
    background-color: gray;
    list-style-type: none;
    text-align: center;
    color: lightgoldenrodyellow;
    text-shadow: 1px 1px black;
}

nav h1 {
    font-size: 30px;
    margin-top: 20px;
    margin-bottom: 15px;
}

nav a,
main a {
    color: white;
    text-transform: uppercase;
    font-weight: 600;
    text-decoration: none; 
    text-shadow: 1px 1px black;
}

.container h1 {
    margin: 30px;
}

nav a {
    text-decoration: none; 
}

nav a:hover,
main a:hover {
    color: blue;
    text-shadow: 1px 1px black;
}

nav li {
    padding: 10px;
}

.background {
    /* The image used */
    background-image: url("../img/Hollywood-Sign.jpg");

     /* Center and scale the image*/
     background-position: center;
     background-repeat: no-repeat;
     background-size: cover;
     padding-top: 120px;
}

.footer {
    padding: 30px;
    background-color: grey;
    text-align: center;
    border: 5px dotted black;
    color: lightgoldenrodyellow;
    text-shadow: 1px 1px black;
}

/*----------------------------------------------Main Index Page Content----------------------------------*/

.intro {
    text-align: center;
    background-color: grey;
    border: 4px dashed black;
    color: lightgoldenrodyellow;
    text-shadow: 1px 1px black;
}

.intro h1 {
    padding: 20px;
    font-size: 35px;
}

.images-container {
    /*Remove bullet points */
    list-style-type: none; 
    background-color: grey;
}

.container {
    text-align: center;
    width: 100%;
    height: auto;
    background-color: grey;
}

.eighties {
    border: 4px solid lightgreen;
}

.nineties {
    border: 4px solid pink;
}

.aughts {
    border: 4px solid lightskyblue;
}

/* background color wasn't extending below 2000's images block, this fixed it */
.container ul {
    overflow: hidden;
}

/* resize images */
.container img {
    width: 50%;
    height: auto;
    float: left;
    padding: 10px;
}

/*----------------------------------------------Question Page Content--------------------------------*/

.questions {
    text-align: center;
    background-color: grey;
    border: 4px solid burlywood;
}

.questions img {
    width: 50%;
    height: auto;
    float: left;
    padding: 10px;
}


.question-images-container {
    list-style-type: none; 
    background-color: grey;
}

/* fix the collapsed containers from the float used on the images */
.question-images-container::after {
    content: "";
    clear: both;
    display: table;
  }

.question-container {
    margin: 15px;
    padding: 25px;
    color: lightgoldenrodyellow;
    border: 4px dashed lightskyblue;
    border-radius: 15px;
    text-align: center;
    text-shadow: 1px 1px black;
}

.displayQuestion {
    margin-bottom: 20px;
}

.radio {
    color: whitesmoke;
    margin: 0 auto;
    width: auto;
    text-align: left;
    display: table;
    text-shadow: 1px 1px black;
}

span {
    padding-left: 15px;
    font-size: 18px;
}

.btn-container {
    text-align: center;
    background-color: grey;
    padding: 30px;
}

button[type=button] {
    background-color: seagreen;
    color: white;
    margin: 4px 4px;
    cursor: pointer;
    text-align: center;
    padding: 40px;
    font-size: 20px;
    border-radius: 15px;
    text-shadow: 1px 1px black;
}

/*----------------------------------------------Answer Page Content----------------------------------*/

.score {
    text-align: center;
    background-color: grey;
    padding: 40px;
    border: 6px dotted black;
    color: lightgoldenrodyellow;
    text-shadow: 1px 1px black;
}

.score h1 {
    padding-bottom: 30px;
    font-size: 35px;
}

.correct { 
    margin: 15px;
    padding: 15px;
    border: 4px solid green;
    border-radius: 15px;
}

.correct h2 {
    text-decoration: underline;
    text-underline-position: under;
    text-decoration-color: lightgreen;
    padding: 18px;
    font-size: 30px;
}

.correct-list ul {
    margin-top: 10px;
    margin-bottom: 10px;
    list-style-type: none;
    color: lightgoldenrodyellow;
    text-shadow: 1px 1px black;
}

.correct-list li {
    margin: 30px;
    text-shadow: 1px 1px black;
    font-size: 20px;
    text-align: center;
}

.incorrect {
    margin: 15px;
    padding: 15px;
    border: 4px solid red;
    border-radius: 15px;
}

.incorrect h2 {
    text-decoration: underline;
    text-underline-position: under;
    text-decoration-color: pink;
    padding: 18px;
    font-size: 30px;
}

.incorrect-list ul {
    margin-top: 10px;
    margin-bottom: 10px;
    list-style-type: none;
    color: lightgoldenrodyellow;
    text-shadow: 1px 1px black;
}

.incorrect-list li {
    margin: 30px;
    text-shadow: 1px 1px black;
    font-size: 20px;
    text-align: center;
}

.answers {
    text-align: center;
    background-color: grey;
    border: 4px solid burlywood;
}

.answers img {
    width: 70%;
    height: auto;
    margin-top: 15px;
}

.value {
    margin: 15px;
    padding: 25px;
    color: lightgoldenrodyellow;
    border: 5px dashed lightgreen;
    text-shadow: 1px 1px black;
    border-radius: 15px;
}

/*------------------------------------------Media Queries------------------------------------------*/

@media (min-width: 769px) {

    .header {
        display: flex;
        flex-direction: column;
        padding: 20px;
    }

    .background {
        padding-top: 250px;
    }

    /* resize images; 4 per row */
    .container img {
        width: 25%;
        height: auto;
        float: left;
        padding: 10px;
    }

    .navbar {
        display: flex;
        flex-direction: row;
        justify-content: center;
        list-style-type: none;
    }

    nav li {
        padding: 15px;
        text-align: center;
    }

    /*questions page content*/

    .questions {
        width: 50%;
        height: auto;
    }

    .questions img {
        width: 50%;
    }

    /*answers page content*/

    .main-content {
        display: flex;
        flex-wrap: wrap;
    }

    .answers {
        width: 50%;
        height: auto;
    }

    .answers img {
        width: 55%;
    }
}


@media (min-width: 1025px) {

    .header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 20px;
    }

    .navbar {
        display: flex;
        list-style-type: none;
    }

    /*Issue with navbar h1 and links not aligning along horizontal axis, this fixed it*/
    nav h1 {
        margin-top: 10px;
        margin-bottom: 10px;
    }
    

    nav li {
        padding: 20px;
    }

    .background {
        padding-top: 350px;
    }

    .intro {
        padding: 20px;
    }

    .container {
        text-align: center;
        width: 33.3333%;
        height: auto;
        background-color: grey;
    }

    /* resize images */
    .container img {
        width: 50%;
        height: auto;
        float: left;
        padding: 10px;
    }

    .main {
        display: flex;
    }

    /*questions page content*/

    .questions {
        width: 33.3333%;
        height: auto;
    }

    .questions img {
        width: 50%;
    }

    /*answers page content*/

    .main-content {
        display: flex;
        flex-wrap: wrap;
    }

    .answers {
        width: 33.3333%;
        height: auto;
    }

    .answers img {
        width: 65%;
    }

}